@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Roboto&display=swap');
:root {
    --main-bg-color: brown;
    --font1: 'Baloo Bhaijaan 2', cursive;
    --font2: 'Roboto', sans-serif;
}

.font1{
    font-family: var(--font1);
}

.font2{
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn1 {
    padding: 1px 8px;
    border: 3px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

.btn1:hover{
    color: white;
    background: var(--main-bg-color);
}

.btn2{
    padding: 3px 8px;
    border: 3px solid black;
    border-radius: 8px;
    font-family: var(--font1);
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn2:hover{
    color: white;
    background: var(--main-bg-color);
}

.form-input{
    padding: 1px 6px;
    font-size: 13px;
    border-radius: 6px;
    border: 3px solid black;
    margin: 0 13px;
    font-family: var(--font1);
}